body {
  background-color: gray;
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
	position: absolute;
}

li {
	display:inline-block;
	float: left;
	margin-right: 1px;
}

li a {
	display:block;
	min-width:140px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}


li:hover a {
	background: blue;
}

li:hover ul a {
	background: #f3f3f3;
	color: #2f3036;
	height: 40px;
	line-height: 40px;
}

li:hover ul a:hover {
	background: #19c589;
	color: #fff;
}


li ul {
	display: none;
}


li ul li {
	display: block;
	float: none;
}


li ul li a {
	width: auto;
	min-width: 100px;
	padding: 0 20px;
}


ul li a:hover + .hidden, .hidden:hover {
	display: block;
}


@media screen and (max-width : 760px){

	ul {
		position: static;
	}
	li {
		margin-bottom: 1px;
	}
	ul li, li a {
		width: 100%;
	}
}


/* Tablet - Portrait */
  /*@media screen and (max-width: 1000px) {
    body {
      background-color: orange;
    }
  }

  @media screen and (max-width: 768px) {
    body {
      background-color: yellow;
    }
  }

  @media screen and (max-width: 600px) {
    body {
      background-color: blue;
    }
  }

  @media screen and (max-width: 480px) {
    body {
      background-color: green;
    }
  }

  @media screen and (max-width: 320px) {
    body {
      background-color: red;
    }
  }*/
